.login{
    justify-self: center;
    justify-items: center;
    width: 100%;
    height: 100vh;
}

.loginHead{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    background-color: #D9D9D9;
    border-radius: 1vh;
    position: relative;
    padding-block: 7vh;
    top: 6vh;
    padding-inline: 11vh;
}

.login form {
    display: grid;
    padding: 2vh;
    width: 45vh;
    background-color: #dcdcdc;
    border-radius: 0.5vh;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    top: 15vh;
    position: relative;
}

.login label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #000;
    left: 1vh;
    position: relative;
}

.login input[type="text"],
.login input[type="password"] {
    width: 95%;
    margin-bottom: 15px;
    border: none;
    padding: 1vh;
    background-color: #c0c0c0; /* gris medio */
    outline: none;
    border-radius: 0.5vh;
    justify-self: center;
}

.login button {
    width: 65%;
    padding: 8px;
    background-color: #a8a4a4; /* gris oscuro */
    border: none;
    border-radius: 6px;
    color: #000;
    font-size: 14px;
    justify-self: center;
    cursor: pointer;
}

.login button:hover {
    background-color: #999;
}