.infoTable {
    border-collapse: collapse;
    background-color: #f5f5f5;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.header h2{
    font-size: x-large;
}

.tableWrapper{
    overflow-y: auto;
    overflow-x: auto;
    width: 95%;
    max-height: 87%;
    justify-self: center;
}

.infoTable th {
    background-color: #d0d0d0;
    color: #333;
    font-weight: bold;
    padding: 2vh;
    text-align: center;
    border: 0.1vh solid #bbb;
    padding-inline: 4vh;
    white-space: nowrap;
}

.infoTable td {
    padding: 1.5vh;
    border: 0.1vh solid #bbb;
    background-color: #e8e8e8;
    text-align: center;
    height: 5vh;
    width: 5%;
    white-space: nowrap;
}



.infoTable tr:nth-child(even) td {
    background-color: #ddd;
}

.infoTable tr:nth-child(odd) td {
    background-color: #e8e8e8;
}

.infoTable tr button {
    padding: 0.2vh 0.7vh;
    background-color: #9d6a6a;
    color: white;
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
}

