.menuPanel{
    width: 40%;
}

.menuPanel button{
    border: none;
    border-radius: 1.5vh;
    cursor: pointer;
}

.opcionMenu.active{
    background-color: #7c7a7a;
}

.menuPanel button:hover{
    background-color: #afacac;
}

.opcionMenu {
    padding-inline: 12vh;
    padding-block: 2vh;
}

.sectionMenu{
    display: grid;
    gap: 7vh;
    justify-content: center;
    margin-top: 7vh;
}

.sectionLogout{
    justify-content: center;
    display: grid;
    margin-top: 14vh;
}

.logOut{
    padding-inline: 10vh;
    padding-block: 1.2vh;
}
