.menuPanel{
    width: 35%;
}
.menuPanel button{
    border: none;
    border-radius: 1.5vh;
    cursor: pointer;
}
.opcionMenu.active{
    background-color: #7c7a7a;
}
.menuPanel button:hover{
    background-color: #afacac;
}
.opcionMenu {
    padding-inline: 12vh;
    height: 7vh;
}
.sectionMenu{
    display: grid;
    gap: 1%;
    justify-content: center;
    margin-top: 7vh;
    height: 75%;
}
.sectionLogout{
    justify-self: center;
    margin-top: 5%;
}
.logOut{
    padding-inline: 10vh;
    padding-block: 1.2vh;
}