main{
    display: flex;
    height: 100vh;
}

.panelMain{
    width: 65%;
    display: flex;
    justify-content: center;
}

.mainSection{
    width: 95%;
    height: 93vh;
    align-self: center;
    background-color: #D9D9D9;
    border-radius: 1.2vh;
    text-align: center;
}
