.sectionBotones{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.sectionBotones button{
    width: 24%;
    height: 12vh;
    font-size: 1.3rem;
    border-radius: 1.5vh;
    border: none;
    background-color: #B1B1B1;
    cursor: pointer;
    padding: 0.5%;
}

.sectionVer,
.sectionNuevo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}



