.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.display {
    width: 56%;
    height: 60%;
    align-self: center;
    border-radius: 8vh;
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #44454180;
    justify-content: center;
    z-index: 1000;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 4px;
    transform: translateX(-25%);
}

.dropdown-content a {
    color: black;
    padding: 0.4rem 1.3rem;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
